body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.grid {
    height: 606px;
    width: 606px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.mole {
    background-image: url("https://a-z-animals.com/media/animals/images/original/mole2.jpg");
    background-size: cover;
}